<!-- by putting the exclamation points before user_signed_in it does the opposite; have opted to use unless command instead -->
<%= render 'pages/home' unless user_signed_in? %>

<div class="container">
  <div id="pins" class="transitions-enabled">  
    <!-- @pins exists because defined in controller; goes through every single pin in @pins variable and runs below --> 
    <% @pins.each do |pin| %>
      <div class="box panel panel-default">
        <!-- think of image_tag as img src="" and you need to enclose pin.image in parentheses because other wise link_to (a href="") would think that image_tag and pin.image are two seperate things) -->
        <%= link_to image_tag(pin.image.url(:medium)), pin %>
        <div class="panel-body">
          <p><%= pin.description %></p>
          <p><strong><%= pin.user.email if pin.user %></strong></p>
          <% if pin.user == current_user %>
            <div class="actions">
              <%= link_to edit_pin_path(pin) do %>
                <span class="glyphicon glyphicon-edit"></span>
                Edit
              <% end %>
              <%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <span class="glyphicon glyphicon-trash"></span>
                  Delete
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>